app:
  name: firestarter
  version: 0.1.0
  env: local
logger:
  level: debug
  format: console
http_server:
  port: "8080"
  read_timeout: 20s
  read_header_timeout: 10s
  write_timeout: 20s
  idle_timeout: 60s
  shutdown_timeout: 25s
